<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Gerardo Verduzco Resume</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href="style.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>


<article itemscope="itemscope" itemtype="http://schema.org/Person" ng-app="resume">
  <header class="header" role="banner">
    <hgroup><img class="headshot" itemprop="image" src="https://instagram.fsjc1-3.fna.fbcdn.net/vp/d88ed93d6570cf2cc659b1b3084d40fb/5B4F5DB8/t51.2885-15/e35/29402091_395373154261598_3884579447130554368_n.jpg" alt="Gerardo Verduzco"/>
      <h1 itemprop="name">Gerardo Verduzco</h1>
      <h2 class="user-description" itemprop="description">Learning my way into the tech industry</h2>
    </hgroup>
    <div class="org" itemscope="itemscope" itemtype="http://schema.org/Organization"><a class="website" href="http://devmission.org/" itemprop="url"><span itemprop="name">Dev/Mission</span></a>
        <div class="address" itemscope="itemscope" itemprop="address" itemtype="http://schema.org/PostalAddress">
          <div itemprop="streetAddress">Mission District</div><span itemprop="addressLocality">San Francisco </span><abbr title="California" itemprop="addressRegion"> CA </abbr><span itemprop="postalCode">94013</span>
        </div>
      </div><p> verduzcogerardo0@gmail.com</p>
    </address>
  </header>
  <div class="content">
    <section class="languages" ng-controller="LanguagesCtrl">
      <header>
        <h1 class="languages-heading">Languages</h1>
      </header>
      <ul class="languages-list">
        <p> I'm a rookie at this so I am not really familiar with these languages:</p>
        <p> javascript</p>
        <p> css</p>
        <p> html</p>

      </ul>
    </section>
    <section class="tools" ng-controller="ToolsCtrl">
      <header>
        <h1 class="tools-heading">Tools</h1>
      </header>
      <ul class="tool-types-list">
        <li ng-repeat="type in toolTypes">
          <p> I don't know any tools</p>
          <h2 class="tool-type-heading" ng-bind="type.name"></h2>
          <ul class="tools-list">
            <li ng-repeat="tool in type.tools" ng-bind="tool"></li>
          </ul>
        </li>
      </ul>
    </section>
    <h1> College/Education</h1>
    <p> I attend John O' Connell high school right now</p>
    <p> I am currently a senior there</p>
    <p> I plan to attend city college after I graduate fom O' Connell</p>
    <h1> My Future?</h1>
      <p> During college I would like to take computer science maybe graphic design because I love technology.</p>
      <p> Another career that I would like to pursue is maybe sports medicine, I would like to help out athletes as they compete</p>
